<!DOCTYPE html>
<html>
    <head>
<<<<<<< HEAD
        </head>
        
        
        <body>
            
         <p>you have received a message from the site's contact form, from <%{ @name}, #{ @email}." %></p>   
         <p><%= @body %></p>
        </body>
   
=======
        <body>
            <p> You received a message from the site's contact form, from <%= "#{ @name}, #{ @email}," %></p>
            <p><%= @body %></p>
        </body>
    </head>
>>>>>>> master
</html>